# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!LICENSE
!*.md
!.HA_VERSION
!*.yaml
!*.py
!*.js
!*.html
!*.css
!*.png
!*.jpg
!*.mp3
!*.svg
!*.sh

# include folders
!automations
!entities
!entities/binary_sensor
!entities/camera
!entities/counter
!entities/input_boolean
!entities/input_datetime
!entities/input_number
!entities/input_select
!entities/input_text
!entities/sensor
!entities/switch
!entities/timer
!groups
!include
!logging
!lovelace
!lovelace/include
!panels
!python_scripts
!scenes
!screenshots
!scripts
!shell
!themes
!www
!www/alarm
!www/alarm_clock
!www/icons
!www/icons/notifications
!www/weather_icons
!www/weather_icons/static
!www/weather_icons/animated
!www/images
!www/images/sprinkler

# Ignore folders.
.cloud
.git
.storage
.vscode
custom_components
deps
glances
node-red
notes
resources
tts
www/capture

# Ensure these files are ignored, otherwise secret data/credentials will leak.
*.conf
*.xml
*.sqlite
*.txt
*.log
*.json
.google.token
.google_maps_location_sharing.cookies
.spotify-token-cache
.uuid
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
google_calendars.yaml
www/google7f5d8f77eef8f5d1.html
www/traffic_map.html
